﻿
@{
    Layout = null;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_HomeLayout</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    @*<link rel="icon" type="image/png" href="../assets/img/favicon.png">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        UOSPL
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <style>
        li.active > a {
            background-color: #536ec6 !important;
        }

        .btn.btn-primary {
            background-color: #536ec6 !important;
        }
    </style>
</head>
<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.orbitronsystems.com/"  target="_blank" class="simple-text logo-normal">
                    @*Univerasal Orbital Systems Pvt Ltd*@
                    <img src="~/Images/UniversalOrb_Logo.png" />
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li class="nav-item active">
                        <a href="@Url.Action("CustomerDashboardDisplay", "Home")" class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <p>Business Dashboard</p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="@Url.Action("HealthMonitoringDashboard", "Home")" class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <p>Health Monitoring</p>
                        </a>
                    </li>



                    @*<li class="nav-item active ">
            <a class="nav-link" href="~/dashboard.html">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>*@

                    <li class="nav-item ">
                        <a href="@Url.Action("ViewReport", "CustomerUser")" class="nav-link">
                            <i class="material-icons">library_books</i>
                            <p>View Report</p>
                        </a>
                    </li>




                    <li class="nav-item ">
                        <a href="@Url.Action("JobDetails","CustomerUser")" class="nav-link">
                            @*<i class="material-icons">content_paste</i>*@
                            <i class="material-icons">person</i>
                            <p>Manage Devices</p>
                        </a>
                        <ul id="b3" class="treeview-menu">

                            <li class="nav-item ">
                                <a href="@Url.Action("JobDetails","CustomerUser")" class="nav-link">
                                    @*<i class="material-icons">content_paste</i>*@
                                    <i class="material-icons">person</i>
                                    <p>Job Details</p>
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a href="@Url.Action("Operators","CustomerUser")" class="nav-link">
                                    @*<i class="material-icons">content_paste</i>*@
                                    <i class="material-icons">person</i>
                                    <p>Operators</p>
                                </a>
                            </li>

                        </ul>
                    </li>



                    <!-- <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
        </a>
    </li> -->
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    @*<div class="navbar-wrapper">
                            <a class="navbar-brand" href="#pablo">Device</a>
                        </div>*@
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            @*<div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>*@
                        </form>
                        <ul class="navbar-nav">
                            @*<li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>*@
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Alarm 1</a>
                                    <a class="dropdown-item" href="#">Alarm 2</a>
                                    <a class="dropdown-item" href="#">Alarm 3</a>
                                    <a class="dropdown-item" href="#">Alarm 4</a>
                                    <a class="dropdown-item" href="#">Alarm 5</a>
                                </div>
                            </li>

                            @*<li class="nav-item">
            <a class="nav-link" href="#">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                    Account
                </p>
            </a>
        </li>*@
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    @*<span class="notification">5</span>*@
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                    @*<a href="@Url.Action("GetProfile", "Account")" class="dropdown-item">Profile</a>*@
                                    <a href="@Url.Action("Logout", "Account")" class="dropdown-item">Logout</a>
                                      
                                </div>
                            </li>


                            @*<li class="nav-item">
                                <div class="pull-left">

                                    <a href="@Url.Action("GetProfile", "Account")" class="nav-link">Profile</a>

                                </div>
                            </li>
                            <li class="divider"></li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout", "Account")" class="nav-link">
                                        <i class="material-icons">person</i>

                                    </a>
                                </div>
                            </li>*@

                            @*<input type="submit" value="Log Out" class="btn btn-default" />*@




                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            @*<aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->

                    @{ Html.RenderPartial("Menu"); }

                    <!-- /.sidebar -->
                </aside>*@
            <!-- Body Start -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>





            <!-- Body End -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        @*<ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/presentation">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>*@
                    </nav>
                    <div class="copyright float-right">
                      <h4>  Copyright
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, @*made with <i class="material-icons">favorite</i> by*@
                        <a href="http://www.orbitronsystems.com/" target="_blank"> Universal Orbital Systems Pvt Ltd </a> All rights reserved.
                   </h4>
                    </div>

                    <div class="copyright float-left" style="font-size:15px;color:black">

                        Project Developed & Maintain by

                        @*<a href="https://www.creative-tim.com" target="_blank"> Faralenz Labs Pvt.Ltd. </a> All rights reserved.*@
                        <a href="http://www.faralenz.in/" target="_blank"> FaraLenz Labs Pvt Ltd </a>

                    </div>

                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!--  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <!-- Chartist JS -->
    <script src="../assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</html>