﻿<section class="sidebar" style="height: auto; overflow-y: hidden; ">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li id="a1" class="treeview">
            <a href="Dashboard.aspx">
                <i class="fa fa-dashboard"></i><span>Dashboard</span>
            </a>
        </li>

        <li id="a2" class="treeview">
            <a href="#">
                <i class="fa fa-motorcycle"></i><span>Devices</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul id="b2" class="treeview-menu">
                <li>
                    @Ajax.ActionLink("Device", "SaveUpdateDevice", "Device", null, new AjaxOptions { UpdateTargetId = "divContent" });
             
                    <i class="fa fa-circle-o"></i>
            </li>

        </ul>
    </li>



    <li id="a3" class="treeview">
        <a href="#">
            <i class="fa fa-group"></i><span>Customer</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul id="b3" class="treeview-menu">
            <li>
                @Ajax.ActionLink("Customer", "SaveUpdateCustomer", "Customer", null, new AjaxOptions { UpdateTargetId = "divContent" });
            <i class="fa fa-circle-o"></i>
        </li>

       


</ul>
</li>
<li>
    <a href="../widgets.html">
        <i class="fa fa-th"></i><span>Reports</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-envelope"></i><span>Mailbox</span>
        <small class="label pull-right bg-yellow">12</small>
    </a>
</li>

</ul>
</section>


