﻿@model UOSPL_Model.Customer
@{
    ViewBag.Title = "SaveCustomer";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .form-check, label {
        color: #212529 !important;
    }
</style>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- jQuery ThemeRoller -->
@*<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" rel="stylesheet" />*@

<!-- Semantic UI -->
@*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />*@

<!-- Bootstrap 4 -->
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


    <script>
        // Undefined data start
        $(document).ready(function () {


            //debugger;
            $("#tblData").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Customer/GetCustomer",
                    "type": "POST",
                    "datatype": "json"

                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],


                "columns": [

                    { "data": "CustomerID", "name": "CustomerID", "CustomerID": false },
                    { "data": "FirstName", "name": "FirstName" },
                    { "data": "CompanyName", "name": "CompanyName" },
                    { "data": "EmailID", "name": "EmailID" },
                    { "data": "MobileNo", "name": "MobileNo" },


                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-info' onclick=ShowCustomerDetail('" + row.CustomerID + "'); >Edit</a>";
                        }
                    },


                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                        }
                    },



                ]

            });
        });


        function DeleteData(CustomerID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(CustomerID);
            }
            else
            {
                return false;
            }
        }


        function Delete(CustomerID)
    {
          //  var url = '@Url.Content("~/")' + "Device/DeleteMachine";
            var url = "/Customer/DeleteCustomers";


            $.post(url, { CustomerID: CustomerID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#tblData').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
        }


        function ShowCustomerDetail(CustomerID)
        {
            //var row = $(MachineID.target).closest("tr");
            //var Devicetable = $('#tblData').DataTable();
            //var dataItem = Devicetable.dataItem(row);
           // alert(MachineID);
            //debugger;

            $.ajax({
                type: "post",
                url: '@Url.Action("GetCustomer", "Customer")',

                data: { CustomerID: CustomerID },
                datatype: "json",
                //traditional: true,
                success: function (data) {
                    $.each(data, function (i, item) {
                        //debugger;

                        $("#CustomerID").val(item[0].CustomerID);
                        $("#FirstName").val(item[0].FirstName);
                        $("#MiddleName").val(item[0].MiddleName);
                        $("#LastName").val(item[0].LastName);
                        $("#EmailID").val(item[0].EmailID);
                        $("#CompanyName").val(item[0].CompanyName);
                        $("#MobileNo").val(item[0].MobileNo);
                        $("#LandlineNo").val(item[0].LandlineNo);
                        $("#OfficeAddress").val(item[0].OfficeAddress);
                        $("#State_ID").val(item[0].State_ID);
                       // alert(item[0].City_ID);
                        $("#City_ID").val(item[0].City_ID);
                        $("#PAN").val(item[0].PAN);
                        $("#Aadhar_Number").val(item[0].Aadhar_Number);
                        $("#PAN").val(item[0].PAN);
                        $("#GST_Number").val(item[0].GST_Number);
                        //$('#City_ID').append('<option value="' + item[0].City_Name + '">' + '</option>');
                      //  $("#Company_Logo_Path").val(item[0].Company_Logo_Path);

                        $("#Company_Logo_Path_img").append('<img src="' + item[0].Company_Logo_Path + '" class="img-responsive thumbnail" height=100% width=100%/>');
                       // alert((item[0].Company_Logo_Path));
                        $("#Company_Logo_Path").text("abc");
                        $("CompanyLogo").val(item[0].Company_Logo_Path);;
                    });



                }
            });
        }


    </script>


    @*<script type="text/javascript">

            $(function() {
                $('#State_ID').on('change', function() {
                    var cityDropdown = $('#City_ID');
                    //disable city drop down
                    cityDropdown.prop('disabled', 'disabled');
                    //clear drop down of old city
                    cityDropdown.empty();
                    debugger;
                    //retrieve selected state
                    var State_ID = $(this).val();

                  //  alert(State_ID);
                    if (State_ID.length > 0) {
                        // retrieve data using a Url.Action() to construct url
                        $.getJSON('@Url.Action("GetCitiDetails")', {
                            State_ID: State_ID

                        })
                            .done(function (data) {
                               // alert(data);
                            //re-enable city drop down
                            cityDropdown.removeProp('disabled');
                            //for each returned state
                            $.each(data, function (i, City_ID) {
                                //Create new option
                             //   alert(City_ID);
                                var option = $('<option />').html(City_ID);
                                //append city states drop down
                                cityDropdown.append(option);
                            });
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });
                    }
                });
            })
        </script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#State_ID').change(function () {
                $('#City_ID').empty();
                $.ajax({
                    type: "POST",
                    url: "/Customer/GetCitiDetails",
                    datatype: "Json",
                    data: { State_ID: $('#State_ID').val() },
                    success: function (data) {
                        $('#City_ID').append('<option value>--Select--</option>');
                        $.each(data, function (index, value) {
                            $('#City_ID').append('<option value="' + value.CITY_ID + '">' + value.CITY_NAME + '</option>');
                        });
                       
                    }
                });
               
            });
        });
    </script>

    @*<script type="text/javascript">

        <script>
        function getCities() {
            var stateID = $('#State_ID').val();
            if (stateID > 0)
            {
                $.ajax({
                    url: '@Url.Action("GetCitiDetails", "Customer")',
                    data: { State_ID: stateID },
                dataType: "json",
                type: "GET",
                success: function (data) {
                    var items = "";
                    items = "<option value=''>--Choose City--</option>";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $('#City_ID').html(items);
                }
            });
        }
        }

        </script>*@


}
<style>
    .img-responsive thumbnail {
        width: 10px;
        height: 10px;
    }
</style>



@using (Ajax.BeginForm("SaveCustomerDetails", "Customer", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CustomerDetials" }, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">ADD CUSTOMER</h4>
            @*<p class="card-category">Created using Roboto Font Family</p>*@
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    @*<h2>Add Device</h2>*@
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.CustomerID)
                            @Html.Label("First Name")
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Customer First Name is Required" })

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Middle Name")
                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Customer Middle Name is Required" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Last Name")
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Customer Last Name is Required" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("EmailID")
                            @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Customer EmailID is Required" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Company Name")
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Company Name is Required" })

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="file-field">
                            @Html.LabelFor(model => model.Company_Logo_Path)
                            @*@Html.Label("File Upload")*@
                            <input type="file" id="CompanyLogo" name="ImageFile">

                        </div>



                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Mobile Number")
                            @Html.TextBoxFor(Model => Model.MobileNo, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Mobile Number is Required" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Landline Number")
                            @Html.TextBoxFor(Model => Model.LandlineNo, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Landline Number is Required" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    @*<div class="col-md-3">*@

                    @*<img id="Company_Logo_Path" style="height:200px;width:200px;" />*@
                    <div class="col-md-3" id="Company_Logo_Path_img" height="5px" width="5px"></div>

                    @*</div>*@


                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Office Address")
                            @Html.TextBoxFor(model => model.OfficeAddress, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Office Address is Required" })

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("State")
                            @*@Html.DropDownListFor(m => m.State_ID, this.ViewBag.list as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.State_ID, this.ViewBag.Statelist as IEnumerable<SelectListItem>, "Select", new { id = "State_ID", @class = "form-control" })
                            @*@Html.TextBoxFor(model => model.State_ID, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Office Address is Required" })*@
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("City")
                            
                            @Html.DropDownListFor(m => m.City_ID, (SelectList)ViewBag.Citylist, "Select", new { @class = "form-control" })
                          
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("PAN")
                            @Html.TextBoxFor(model => model.PAN, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "PAN is Required" })

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Aadhar Number")
                            @Html.TextBoxFor(Model => Model.Aadhar_Number, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Aadhar Number is Required" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("GST Number")
                            @Html.TextBoxFor(Model => Model.GST_Number, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "GST Number is Required" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Username")
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "User name is Required" })

                        </div>
                    </div>
                </div>




                @*<button type="submit" class="btn btn-primary pull-right">Save</button>*@
                <input type="submit" value="Save" id="Save" class="btn btn-primary pull-right" />
                <div class="col-md-12"></div>

                <div class="card">
                    @*<div class="card-header card-header-danger">
                        <h4 class="card-title ">Device List</h4>*@
                    @*<p class="card-category"> Here is a subtitle for this table</p>*@
                    @*</div>*@


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="tblData">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @*""*@
                                        </th>
                                        <th>
                                            Customer Full Name
                                        </th>
                                        <th>
                                            Company Name
                                        </th>

                                        <th>
                                            Customer Email
                                        </th>

                                        <th>
                                            Customer Mobile No.
                                        </th>

                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Delete
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @*@ViewBag.Devicedetails*@

                                    @*@foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => item.MachineName)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.MachineDescription)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.MachineSerialNo)

                                                </td>

                                            </tr>

                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
}
