﻿@*@model UOSPL_Model.Device*@
@using ReportViewerForMvc
@model UOSPL_Model.JobIntervalData
@{
    ViewBag.Title = "ViewReport";
    Layout = "~/Views/Shared/_CustomerHomeLayout.cshtml";
}

<style>
    .form-check, label {
        color: #212529 !important;
    }
</style>

<style>




    label {
        position: relative;
        display: block;
    }

        label > input {
            position: relative;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 45px;
            width: 100%;
            font-size: 16px;
            margin: 0 0 30px 0;
            padding: 0;
            box-shadow: none;
            box-sizing: content-box;
            transition: all .3s;
        }

            label > input:valid + span {
                transform: translateY(-25px) scale(0.8);
                transform-origin: 0;
            }

            label > input:valid {
                border-bottom: 1px solid #3F51B5;
                box-shadow: 0 1px 0 0 #3F51B5;
            }

        label > span {
            color: #9e9e9e;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            cursor: text;
            transition: .2s ease-out;
        }

        label > input:focus + span {
            transform: translateY(-25px) scale(0.8);
            transform-origin: 0;
            color: #3F51B5;
        }

        label > input:focus {
            border-bottom: 1px solid #3F51B5;
            box-shadow: 0 1px 0 0 #3F51B5;
        }




    /*Bootstrap Calendar*/
    .datepicker {
        border-radius: 0;
        padding: 0;
    }

    .datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
        padding: 10px;
        display: list-item;
    }

    .datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
        background: #3546b3;
        color: #ffffff;
        border-radius: 0;
    }

        .datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
            border-radius: 3px;
        }

        .datepicker-days table thead tr:nth-child(3n+0) {
            text-transform: uppercase;
            font-weight: 300 !important;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.7);
        }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 11px 13px;
    }

    .datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
        border-radius: 0;
    }

    .datepicker td, .datepicker th {
        border-radius: 50%;
        padding: 0 12px;
    }

    .datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
        background: #3546b3;
        color: #ffffff;
        border-radius: 0;
    }

    .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
        background-image: none;
    }

    .datepicker .prev, .datepicker .next {
        color: rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        width: 37px;
        height: 37px;
    }

        .datepicker .prev:hover, .datepicker .next:hover {
            background: transparent;
            color: rgba(255, 255, 255, 0.99);
            font-size: 21px;
        }

    .datepicker .datepicker-switch {
        font-size: 24px;
        font-weight: 400;
        transition: 0.3s;
    }

        .datepicker .datepicker-switch:hover {
            color: rgba(255, 255, 255, 0.7);
            background: transparent;
        }

    .datepicker table tr td span {
        border-radius: 2px;
        margin: 3%;
        width: 27%;
    }

        .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
            background-color: #3546b3;
            background-image: none;
        }

    .dropdown-menu {
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .datepicker-dropdown.datepicker-orient-top:before {
        border-top: 7px solid rgba(0,0,0,.1);
    }
</style>

<h3>View Report</h3>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- jQuery ThemeRoller -->
@*<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" rel="stylesheet" />*@

<!-- Semantic UI -->
@*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />*@

<!-- Bootstrap 4 -->
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    @*Commented above jquery.min.js above for date picker*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>



    <script>



        // Undefined data start
        $(document).ready(function () {
                      
            $("#dateID").datepicker({
                    dateFormat: 'dd/mm/yy',
                    onSelect: function () {
                      //  var mydate = $(this).datepicker("getDate");
                        //$("#day_of_purchase").val(mydate.getDate());

                        var SelectedDate = $("#dateID").val();
                       
                        BindDropdown(SelectedDate);
                        //alert("Datepicker: "+SelectedDate);
                    }
                });

            function BindDropdown(SelectedDate) {
                $('#ddlWeldNo1').empty();
                $('#ddlWeldNo2').empty();
                //debugger;

               

                $.ajax({
                   
                type: 'GET',
               // url: '/CustomerUser/ViewReport?ActualDate=' + SelectedDate,
                    url: 'http://localhost/UOSPL_WebAPI/api/WeldNoDetailsAPI?ActualDate=' + SelectedDate,
                   // url: 'http://universalapi.faralenz.in/api/WeldNoDetailsAPI?ActualDate=' + SelectedDate,
                    dataType: 'json',

                    success: function (data) {
                       // ddlWeldNo1.empty();
                        var $ddlWeldNo1 = $('#ddlWeldNo1');
                        var $ddlWeldNo2 = $('#ddlWeldNo2');
                        $.each(data, function (i, item) {
                           
                           // ddlWeldNo1.empty();
                            var option = $('<option>', {
                                value: 1
                            }).html(item.WeldNo).appendTo($ddlWeldNo1);

                            var option = $('<option>', {
                                value: 1
                            }).html(item.WeldNo).appendTo($ddlWeldNo2);

                           
                        });
                       
                    },
                   
                 });
            }


            //debugger;
            $("#tblData").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Device/GetDevices",
                    "type": "POST",
                    "datatype": "json"

                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],


                "columns": [

                    { "data": "MachineID", "name": "MachineID", "MachineID": false },
                    { "data": "MachineName", "name": "MachineName" },
                    { "data": "MachineDescription", "name": "MachineDescription" },
                    { "data": "MachineSerialNo", "name": "MachineSerialNo" },
                    //{ "data": "MachineTypeName", "name": "MachineTypeName" },

                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-info' onclick=ShowDeviceDetail('" + row.MachineID + "'); >Edit</a>";
                        }
                    },


                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.MachineID + "'); >Delete</a>";
                        }
                    },



                ]

            });
        });


        function DeleteData(MachineID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(MachineID);
            }
            else
            {
                return false;
            }
        }


        function Delete(MachineID)
    {
          //  var url = '@Url.Content("~/")' + "Device/DeleteMachine";
            var url = "/Device/DeleteMachine";

            $.post(url, { MachineID: MachineID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#tblData').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
        }


        function ShowDeviceDetail(MachineID)
        {
            //var row = $(MachineID.target).closest("tr");
            //var Devicetable = $('#tblData').DataTable();
            //var dataItem = Devicetable.dataItem(row);
           // alert(MachineID);
            //debugger;

            $.ajax({
                type: "post",
                url: '@Url.Action("GetDevices", "Device")',


                data: { MachineID: MachineID },
                datatype: "json",
                //traditional: true,
                success: function (data) {
                    $.each(data, function (i, item) {
                        //debugger;
                        $("#MachineID").val(item[0].MachineID);
                        $("#MachineName").val(item[0].MachineName);
                        $("#MachineSerialNo").val(item[0].MachineSerialNo);
                        $("#MachineDescription").val(item[0].MachineDescription);
                        $("#MachineTypeDeviceID").val(item[0].MachineTypeDeviceID);

                    });



                }


            });
        }



    </script>

}
<script>
    $(document).ready(function () {
        //alert("DateSelect");

        //debugger;

        $("#dateID").datepicker({

            format: 'mm/dd/yyyy',
            // startDate: '-3d'
        })
    });

</script>

@using (Ajax.BeginForm("CustomerViewReport", "CustomerUserController", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DeviceDetials" }, new { id = "DeviceDetials" }))
{


    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Search & View Report</h4>
            @*<p class="card-category">Created using Roboto Font Family</p>*@
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    @*<h2>Add Device</h2>*@
                </div>


                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Machine Type")
                            @*@Html.DropDownListFor(m => m.MachineTypeDeviceID, this.ViewBag.list as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(m => m.MachineTypeDeviceID, new SelectList(this.ViewBag.list, "MachineTypeDeviceID", "MachineTypeName",Model.MachineTypeDeviceID), "Select", new { @class = "form-control" })*@
                        </div>


                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Machine Serial no")
                            @*@Html.DropDownListFor(m => m.MachineID, this.ViewBag.MachineSerialNoList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.MachineSrNo, this.ViewBag.MachineSerialNoList as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "ddlMachineSr" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                @Html.Label("Select Date")
                                <!-- <input data-provide="datepicker" required="required"> -->
                                <input type="text" class="dateselect" required="required" id="dateID" />
                                @*<span>Date</span>*@
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Weld No From")
                            @*@Html.DropDownListFor(m => m.MachineID, this.ViewBag.MachineSerialNoList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.WeldNo, this.ViewBag.WeldNoList as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "ddlWeldNo1" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Weld No To")
                            @*@Html.DropDownListFor(m => m.MachineID, this.ViewBag.MachineSerialNoList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.WeldNo, this.ViewBag.WeldNoList as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "ddlWeldNo2" })

                        </div>
                    </div>




                </div>



                <input type="submit" value="View" id="View" class="btn btn-primary pull-right" />
                <div class="col-md-12"></div>
                <div class="col-md-6 offset-3" style="align-content:center">
                    <h3 style="align-items:center"> PDF Report will be displayed here </h3>
                </div>
               

                <div class="col-md-12">
                    @*<img src="~/Images/PDFImage.png" style="margin-right:20px" />*@
                    @*<img src="~/Images/PDFImage1.png" />*@
                    @if (ViewBag.ReportViewer != null)
                    {
                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

                    }

                </div>

            </div>
        </div>
    </div>



}





